'use strict';

module.exports = {
  async up (queryInterface, Sequelize) {
    // return queryInterface.addColumn('users', 'addedColumn', {
    //   type: Sequelize.DataTypes.STRING,
    //   allowNull: false,
    //   after: 'last_name',
    // });
    await queryInterface.addColumn('users', 'addedColumn', {
      type: Sequelize.DataTypes.STRING,
      allowNull: false,
      after: 'last_name',
    });
    await queryInterface.addColumn('users', 'addedColumn2', {
      type: Sequelize.DataTypes.STRING,
      allowNull: false,
      after: 'last_name',
    });
    await queryInterface.addColumn('users', 'addedColumn3', {
      type: Sequelize.DataTypes.STRING,
      allowNull: false,
      after: 'last_name',
    });
  },

  async down (queryInterface, Sequelize) {
    // return queryInterface.removeColumn('users', 'addedColumn')
    await queryInterface.removeColumn('users', 'addedColumn')
    await queryInterface.removeColumn('users', 'addedColumn2')
    await queryInterface.removeColumn('users', 'addedColumn3')
  }
};
